*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/SofiaProBold.woff2") format("woff2"), url("fonts/SofiaProBold.woff") format("woff"),
        url("fonts/SofiaProBold.ttf") format("truetype");
}
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/SofiaProMedium.woff2") format("woff2"), url("fonts/SofiaProMedium.woff") format("woff"),
        url("fonts/SofiaProMedium.ttf") format("truetype");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/circular-std-6.woff2") format("woff2"), url("fonts/circular-std-6.woff") format("woff"),
        url("fonts/circular-std-medium-500.ttf") format("truetype");
}
html {
    font-family: "Circular Std", "Sofia Pro", sans-serif;
}
body {
    overflow-x: hidden;
    font-size: 15px;
}
.wrapper {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 64px;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 21px 37% 21px 37%;
    grid-template-columns: 10% 37% 37%;
    -ms-grid-rows: 48%;
    grid-template-rows: 48%;
    gap: 21px;
}
main > :first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
main > :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
main > :nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
main__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
main__group:nth-child(3) {
    -ms-grid-column: 2;
    grid-column-start: 2;
}
