$wcolor: #fff;
$bcolor: #000000;
$rcolor: #e93930;

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* Fonts */
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/SofiaProBold.woff2") format("woff2"), url("fonts/SofiaProMedium.woff") format("woff"),
        url("fonts/SofiaProBold.ttf") format("truetype");
}
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SofiaProMedium.woff2") format("woff2"), url("/fonts/SofiaProMedium.woff") format("woff"),
        url("/fonts/SofiaProMedium.ttf") format("truetype");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/CircularStdMedium.woff2") format("woff2"), url("/fonts/CircularStdMedium.woff") format("woff"),
        url("/fonts/CircularStdMedium.ttf") format("truetype");
}
html {
    font-family: "Circular Std", "Sofia Pro", sans-serif;
    box-sizing: border-box;
}
body {
    font-size: 15px;
}
.wrapper {
    background: $wcolor;
    padding-top: 50px;
    padding-bottom: 64px;
}
@media screen and (max-width: 1050px) {
    .wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 52px 46px;
}
@media screen and (max-width: 1500px) {
    .container {
        width: 89%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px;
    }
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 100%;
    width: 1328px;
    margin-bottom: 67px;

    .nav__base {
        display: flex;
    }
    .logo {
        position: relative;
        left: 1%;
        z-index: 1;
        color: $bcolor;
        font-size: 21px;
        line-height: 27px;
        margin-right: 8em;

        &::before {
            content: "";
            position: absolute;
            top: -30%;
            left: -30%;
            background-color: #f4de4d;
            width: 40px;
            height: 40px;
            z-index: -1;
            border-radius: 50%;
        }
    }

    @media all and(max-width:1150px) {
        .logo {
            margin-left: 1em;
            margin-right: 5em;
        }
    }
    @media all and (max-width: 540px) {
        .logo {
            margin-left: 1em;
            margin-right: 1.5em;
        }
    }
    @media all and (max-width: 420px) {
        .logo {
            font-size: 16px;
            &::before {
                width: 30px;
                height: 30px;
                top: -13%;
                left: -30%;
            }
        }
    }
    .search__item {
        img {
            margin-right: 17px;
        }
        input {
            vertical-align: top;
            border: none;
            padding: 5px;

            .placeholder {
                color: #000000;
                opacity: 0.2;
            }
        }
    }
    @media all and (max-width: 520px) {
        .search__item img {
            margin-right: 0;
        }
    }
    @media all and (max-width: 420px) {
        .search__item {
            display: none;
        }
    }
    .nav__items {
        display: flex;
        justify-content: space-between;
        font-family: "Circular Std";
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
    }
    @media all and (max-width: 1150px) {
        .nav__items {
            display: none;
        }
    }

    .nav__item {
        color: $bcolor;
        margin-right: 40px;
        &:hover {
            border-bottom: 3px solid $bcolor;
            transition: all 0.2s;
        }
    }
    @media all and (max-width: 1250px) {
        .nav__item {
            margin-right: 20px;
        }
    }
    @media all and (max-width: 1150px) {
        .nav__item {
            &:hover {
                border-bottom: none;
            }
        }
    }

    .nav__icons {
        margin-left: 10px;
        .nav__icon:last-of-type {
            margin-left: 25px;
        }
    }
    // Burger-menu

    #burger-menu {
        display: none;
        margin-right: 1.5em;
        cursor: pointer;
        height: 30px;
        width: 30px;
        overflow: visible;
        position: relative;
        z-index: 3;
    }
    @media (max-width: 1150px) {
        #burger-menu {
            display: block;
            position: relative;
        }
    }
    @media (max-width: 930px) {
        #burger-menu {
            margin-right: 1em;
        }
    }

    span,
    span:before,
    span:after {
        background: $rcolor;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
    }

    span:before,
    span:after {
        content: "";
    }

    span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }

    span {
        right: 0px;
        top: 13px;
        width: 27px;
    }

    span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }

    .close {
        span:before {
            top: 0px;
            transform: rotate(90deg);
            width: 27px;
        }

        span {
            transform: rotate(-45deg);
            top: 13px;
            width: 27px;
        }

        span:after {
            top: 0px;
            left: 0;
            transform: rotate(90deg);
            opacity: 0;
            width: 0;
        }
    }

    #menu {
        z-index: 2;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;

        &.overlay {
            visibility: visible;
            opacity: 80%;
            padding-top: 100px;
            max-width: 100%;
            background: $bcolor;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
        }

        a {
            color: #fff;
            display: block;
            font-size: 32px;
            margin-bottom: 30px;
            text-decoration: none;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 15vw 58vw;
    max-width: 1328px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sidebar__title {
            margin-bottom: 45px;
        }
        @media screen and(max-width:750px) {
            .sidebar__title {
                margin-bottom: 15px;
                text-align: center;
            }
        }
        a {
            font-family: "Sofia Pro";
            font-weight: 400;
            font-size: 15.7099px;
            line-height: 24px;
            color: $bcolor;
            &:hover {
                color: $rcolor;
                transition: ease-in-out 0.2s;
            }
        }
    }

    .sidebar__list {
        list-style: none;
        white-space: nowrap;
        li {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 26px;
        }
        @media screen and(max-width:750px) {
            li {
                margin: 10px;
            }
        }
        img {
            margin-right: 12px;
        }
    }
    @media screen and(max-width:750px) {
        .sidebar__list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .sidebar__help {
        margin-bottom: 3%;
        img {
            margin-right: 20px;
        }
    }
    @media screen and(max-width:750px) {
        .sidebar__help {
            text-align: center;
            margin-bottom: 3em;
        }
    }
    .main__groups {
        display: grid;
        grid-template-columns: 27vw 27vw;
        grid-template-rows: 19vw 19vw;
        grid-template-areas:
            ". ."
            ". .";
        column-gap: 20px;
        row-gap: 20px;
        width: 68.6em;
        max-width: 100%;
        img:hover {
            transition: ease-in-out 0.2s;
            opacity: 60%;
        }

        .main__group:nth-child(2),
        .main__group:nth-child(3) {
            white-space: nowrap;
        }

        .main__group:first-child img:first-child,
        .main__group:last-child img:last-child {
            margin-bottom: 1vw;
        }
        .main__group:nth-child(2) a:first-child,
        .main__group:nth-child(3) a:first-child {
            margin-right: 1vw;
        }
        // @media all and (max-width: 690px) {
        //     .main__group:nth-child(2) a:first-child,
        //     .main__group:nth-child(3) a:first-child {
        //         margin-right: 3vw;
        //     }
        // }
        .main__group {
            position: relative;
            max-width: 100%;
            height: 100%;
        }
        .main__img {
            z-index: 0;
        }
        @media all and (max-width: 1920px) {
            .main__img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        @media all and (max-width: 690px) {
            .main__img {
                max-height: 61vmin;
            }
        }
        @media all and (max-width: 660px) {
            .main__img {
                max-height: 59vmin;
            }
        }
        @media all and (max-width: 630px) {
            .main__img {
                max-height: 57vmin;
            }
        }
        @media all and (max-width: 615px) {
            .main__img {
                max-height: 54vmin;
            }
        }

        .main__group:nth-child(2) .main__item:nth-child(2) button,
        .main__group:nth-child(3) .main__item:nth-child(2) button {
            left: 88%;
        }
        @media all and (max-width: 1030px) {
            .main__group:nth-child(2) .main__item:nth-child(2) button,
            .main__group:nth-child(3) .main__item:nth-child(2) button {
                left: 8.5em;
            }
        }
        @media all and (max-width: 930px) {
            .main__group:nth-child(2) .main__item:nth-child(2) button,
            .main__group:nth-child(3) .main__item:nth-child(2) button {
                left: 15em;
            }
        }
        @media all and (max-width: 680px) {
            .main__group:nth-child(2) .main__item:nth-child(2) button,
            .main__group:nth-child(3) .main__item:nth-child(2) button {
                left: 38%;
            }
        }
        .heart-button {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 37%;
            top: 6%;
            background-color: $wcolor;
            border-radius: 50%;
            border: none;
            z-index: 1;
            cursor: pointer;
            &::before {
                content: "";
                background: url(/img/heart.svg);
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                background-repeat: no-repeat;
                width: 15px;
                height: 13px;
                z-index: 5;
            }
        }

        @media all and (max-width: 1030px) {
            .heart-button {
                left: 20em;
            }
        }
        @media all and (max-width: 930px) {
            .heart-button {
                left: 35em;
            }
        }
        @media all and (max-width: 660px) {
            .heart-button {
                left: 89%;
                width: 25px;
                height: 25px;
            }
        }
        @media all and (max-width: 380px) {
            .heart-button {
                width: 20px;
                height: 20px;
            }
        }

        @media all and (max-width: 1200px) {
            .heart-button img {
                width: 70%;
                height: 60%;
            }
        }
        @media all and (max-width: 450px) {
            .heart-button img {
                width: 50%;
                height: 50%;
            }
        }
    }
    @media all and (max-width: 1750px) {
        .main__groups {
            grid-template-columns: 33vw 32.9vw;
            -ms-grid-rows: 23vw 23vw;
            grid-template-rows: 23.3vw 23.4vw;
            gap: 1.2em;
        }
    }
    @media all and (max-width: 930px) {
        .main__groups {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1vw;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media all and (max-width: 1850px) {
    main {
        grid-template-columns: 17vw 64vw;
    }
}
@media all and (max-width: 1050px) {
    main {
        grid-template-columns: 15vw 53vw;
    }
}
@media all and (max-width: 930px) {
    main {
        grid-template-columns: 25vw 70vw;
    }
}
@media all and (max-width: 770px) {
    main {
        grid-template-columns: 19vw 70vw;
    }
}
@media screen and(max-width:750px) {
    main {
        grid-template-columns: 75vw;
        justify-content: center;
    }
}
