$wcolor: #fff;
$bcolor: #000000;

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* Fonts */
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/SofiaProBold.woff2") format("woff2"), url("fonts/SofiaProBold.woff") format("woff"),
        url("fonts/SofiaProBold.ttf") format("truetype");
}
@font-face {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/SofiaProMedium.woff2") format("woff2"), url("fonts/SofiaProMedium.woff") format("woff"),
        url("fonts/SofiaProMedium.ttf") format("truetype");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/circular-std-6.woff2") format("woff2"), url("fonts/circular-std-6.woff") format("woff"),
        url("fonts/circular-std-medium-500.ttf") format("truetype");
}
html {
    font-family: "Circular Std", "Sofia Pro", sans-serif;
    box-sizing: border-box;
}
body {
    font-size: 15px;
}
.wrapper {
    background: $wcolor;
    padding-top: 50px;
    padding-bottom: 64px;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1350px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px;
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 78px;
    max-width: 1328px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .nav__base {
        display: flex;
    }
    .logo {
        position: relative;
        left: 1%;
        z-index: 1;
        color: $bcolor;
        font-size: 21px;
        line-height: 27px;
        margin-right: 8em;

        &::before {
            content: "";
            position: absolute;
            top: -30%;
            left: -30%;
            background-color: #f4de4d;
            width: 40px;
            height: 40px;
            z-index: -1;
            border-radius: 50%;
        }
    }
    .search__item {
        img {
            margin-right: 17px;
        }
        input {
            vertical-align: top;
            border: none;
            padding: 5px;

            .placeholder {
                color: #000000;
                opacity: 0.2;
            }
        }
    }

    .nav__items {
        display: flex;
        justify-content: space-between;
        font-family: "Circular Std";
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
    }

    .nav__item {
        color: $bcolor;
        margin-right: 40px;
        &:hover {
            border-bottom: 3px solid $bcolor;
            transition: all 0.2s;
        }
    }

    .nav__icons {
        margin-left: 47px;
        .nav__icon:last-of-type {
            margin-left: 25px;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 14vw 58vw;
    max-width: 100%;
    width: 1328px;
    margin-left: auto;
    margin-right: auto;

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sidebar__title {
            margin-bottom: 45px;
        }
        a {
            font-family: "Sofia Pro";
            font-weight: 400;
            font-size: 15.7099px;
            line-height: 24px;
            color: $bcolor;
            &:hover {
                color: #e93930;
                transition: ease-in-out 0.2s;
            }
        }
    }
    .sidebar__list {
        list-style: none;
        white-space: nowrap;

        .sidebar__title {
            margin-bottom: 45px;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 26px;
        }
        img {
            margin-right: 12px;
        }
    }
    .sidebar__help {
        margin-bottom: 20%;
        img {
            margin-right: 20px;
        }
    }

    .main__groups {
        display: grid;
        grid-template-columns: 33vw 33vw;
        grid-template-rows: 24vw 23vw;
        grid-template-areas:
            ". ."
            ". .";
        column-gap: 1vw;
        row-gap: 1vw;
        max-width: 68.75em;
        width: 100%;
        img:hover {
            transition: ease-in-out 0.2s;
            opacity: 60%;
        }
        .main__group:nth-child(2),
        .main__group:nth-child(3) {
            white-space: nowrap;
        }

        .main__group:first-child img:first-child,
        .main__group:last-child img:first-child {
            margin-bottom: 1vw;
        }
        .main__group:nth-child(2) a:first-child,
        .main__group:nth-child(3) a:first-child {
            margin-right: 1vw;
        }
        .main__group {
            position: relative;
            max-width: 100%;
        }
        .main__group:nth-child(2) .main__item:nth-child(2) button,
        .main__group:nth-child(3) .main__item:nth-child(2) button {
            left: 89%;
        }
        .heart-button {
            position: absolute;
            left: 38%;
            top: 6%;
            background-color: $wcolor;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            z-index: 1;
            cursor: pointer;
            img {
                display: flex;
                align-items: center;
                background-color: $wcolor;
                width: 14px;
                margin-left: auto;
                margin-right: auto;
                color: $wcolor;
            }
        }
        @media all and (max-width: 1200px) {
            .heart-button {
                width: 7%;
                height: 10%;
            }
        }
        @media all and (max-width: 1200px) {
            .heart-button img {
                width: 70%;
                height: 60%;
            }
        }
    }
}

@media all and (max-width: 1700px) {
    .main__img {
        max-width: 100%;
        max-height: 100%;
    }
}
